/* resets */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
}

ul[role='list'],
ol[role='list'] {
  padding: 0;
  list-style-type: none;
}

img,
video,
svg {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/* colors */

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  color: var(--color-link);
}

/* typography */

body {
  font-family: var(--font-family);
}

code,
kbd,
samp,
pre {
  font-family: var(--font-family-mono);
}

/* layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 0 auto;
}

/* images, videos */

main img {
  content-visibility: auto;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
