/* Typography
 * ========================================================================== */

html {
  font-family: var(--font-family);
}

code,
kbd,
samp,
pre {
  font-family: var(--font-family-mono);
}

/* Colors
 * ========================================================================== */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-link);
}

/* Layout
 * ========================================================================== */

header,
main,
footer {
  padding: var(--space-m) var(--space-m);
}

main {
  max-width: var(--width-content);
  margin: 0 auto;
}

th {
  text-align: left;
}

/* Assets
 * ========================================================================== */

main img {
  content-visibility: auto;
}
