/* Typography
 * ========================================================================== */

html {
  font-family: var(--font-family);
}

code,
kbd,
samp,
pre {
  font-family: var(--font-family-mono);
}

/* Layout
 * ========================================================================== */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

header,
footer {
  padding:
      var(--space-m)
      max(var(--space-m), calc(50% - 0.5 * var(--width-full)));
}

main {
  max-width: var(--width-content);
  margin: 0 auto;
  padding: var(--space-m) var(--space-m);
}

/* Text-level semantics
 * ========================================================================== */

a {
  color: var(--color-link);
  text-decoration: none;
}

/* Assets
 * ========================================================================== */

figure {
  margin: 0;
  padding: 0;
}

main img {
  content-visibility: auto;
}
