header,
footer {
  padding: var(--space-m);
}

header {
  background-color: var(--color-primary);
}

footer {
  text-align: center;
}

main {
  width: min(80ch, 100vw - 2 * var(--space-m));
}

nav.alternatives {
  font-size: 0.8rem;
  text-align: right;
  text-transform: lowercase;
}
