header,
footer {
  padding: var(--space-m);
}

header {
  background-color: var(--color-primary);
}

footer {
  text-align: center;
}

main {
  width: min(80ch, 100vw - var(--space-l));
  margin: 0 auto;
}

nav.alternatives {
  font-size: 0.8em;
  text-align: right;
  text-transform: lowercase;
}
