nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
}

nav ul li {
  position: relative;
  height: var(--space-l);
  padding: var(--space-xs) var(--space-m);
}

nav ul li ul {
  position: absolute;
  top: var(--space-l);
  left: 0;
  z-index: 2;
  display: none;
  white-space: nowrap;
}

nav ul li:hover ul {
  display: inherit;
}

nav ul li ul li {
  height: auto;
  margin: 0;
  padding: var(--space-s) var(--space-m);
}

nav a {
  text-decoration: none;
}

/* Media queries
 * ========================================================================== */

@media (min-width: 60em) {
  nav img {
    margin-right: var(--space-m);
  }

  nav ul {
    display: inline-flex;
    flex-direction: row;
  }

  nav ul li + li {
    margin-left: var(--space-s);
  }
}
