:root {
  --color-primary: hsl(40deg, 100%, 50%);  /* orange */

  --color-bg: hsl(0deg, 0%, 100%);         /* white */
  --color-text: hsl(0deg, 0%, 0%);         /* black */
  --color-link: hsl(240deg, 100%, 50%);    /* blue */

  --font-family: system-ui, sans-serif;
  --font-family-mono: monospace;

  --space-m: 1rem;
  --space-xs: calc(0.25 * var(--space-m));
  --space-s: calc(0.5 * var(--space-m));
  --space-l: calc(2 * var(--space-m));
  --space-xl: calc(4 * var(--space-m));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(0deg, 0%, 7%);         /* off-black */
    --color-text: hsl(0deg, 0%, 93%);      /* off-white */
    --color-link: hsl(240deg, 100%, 75%);  /* light-blue */
  }
}
