:root {
  --color-primary: hsl(40, 100%, 50%);  /* orange */

  --color-bg: hsl(0, 0%, 100%);         /* white */
  --color-text: hsl(0, 0%, 0%);         /* black */
  --color-link: hsl(240, 100%, 50%);    /* blue */

  --font-family: system-ui, sans-serif;
  --font-family-mono: monospace;

  --space-xs: 0.25rem;
  --space-s: calc(2 * var(--space-xs));
  --space-m: calc(4 * var(--space-xs));
  --space-l: calc(8 * var(--space-xs));
  --space-xl: calc(16 * var(--space-xs));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(0, 0%, 7%);         /* off-black */
    --color-text: hsl(0, 0%, 93%);      /* off-white */
    --color-link: hsl(240, 100%, 75%);  /* light-blue */
  }
}
