/* Sections
 * ========================================================================== */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Grouping content
 * ========================================================================== */

footer,
header {
  padding:
      var(--space-s)
      unquote('max(var(--space-m), calc(50% - 0.5 * var(--width-full)))');
}

main {
  margin: 0 auto;
  max-width: var(--width-content);
  padding: var(--space-s) var(--space-m);
}

nav ul {
  display: flex;
  flex-direction: column;
}

/* Text-level semantics
 * ========================================================================== */

a {
  color: var(--color-link);
  text-decoration: none;
}

/* Media queries
 * ========================================================================== */

@media (min-width: 60ch) {
  nav img {
    margin-inline-end: var(--space-m);
  }

  nav ul {
    display: inline-flex;
    flex-direction: row;
  }

  nav ul li + li {
    margin-inline-start: var(--space-m);
  }
}
