/* Sections
 * ========================================================================== */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Grouping content
 * ========================================================================== */

figure {
  margin: 0;
  padding: 0;
}

footer,
header,
main {
  padding: var(--padding-content);
}

main {
  margin: 0 auto;
  max-width: var(--width-content);
}

/* Text-level semantics
 * ========================================================================== */

a {
  color: var(--color-link);
  text-decoration: none;
}
