a {
  color: var(--color-link);
  text-decoration: none;
}

header,
footer,
section {
  padding: var(--space-s) var(--space-m);
}

section {
  margin: 0 auto;
  max-width: var(--width-content);
}

nav ul {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  nav ul {
    flex-direction: row;
  }

  nav ul li + li {
    margin-inline-start: var(--space-s);
  }
}
