a {
  color: var(--color-link);
  text-decoration: none;
}

header,
footer {
  padding: var(--space-m);
}

main > * {
  margin: 0 auto;
  max-width: var(--width-content);
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav.alternatives li a {
  font-size: 85%;
}

@media (min-width: 769px) {
  nav ul {
    flex-direction: row;
  }

  nav ul li + li {
    margin-inline-start: var(--space-s);
  }
}
