<div class="pagination">
  <span tal:switch="this.pagination.has_prev" tal:omit-tag="">
    <span tal:case="True" tal:omit-tag="">
      <a href="${ pagination.prev >> url }">&laquo; ${ bag('translate', alt, 'pagination-prev') }</a>
    </span>
    <span tal:case="False" tal:omit-tag="">
      <span class="disabled">&laquo; ${ bag('translate', alt, 'pagination-prev') }</span>
    </span>
  </span>
  | ${ this.pagination.page } |
  <span tal:switch="this.pagination.has_next" tal:omit-tag="">
    <span tal:case="True" tal:omit-tag="">
      <a href="${ pagination.next >> url }">${ bag('translate', alt, 'pagination-next') } &raquo;</a>
    </span>
    <span tal:case="False" tal:omit-tag="">
      <span class="disabled">${ bag('translate', alt, 'pagination-next') } &raquo;</span>
    </span>
  </span>
</div>
