<html tal:define="layout load: layout.html" metal:use-macro="layout">
  <main metal:fill-slot="content">
    <div tal:repeat="post this.pagination.items" tal:omit-tag="">
      <div
          tal:define="render_blog_post load: macros/blog.html;
                      from_index True;"
          metal:use-macro="render_blog_post">
        Blog post body
      </div>
    </div>

    <div
        tal:define="render_pagination load: macros/pagination.html"
        metal:use-macro="render_pagination">
      Previous and next links
    </div>
  </main>
</html>
