<!DOCTYPE html>
<html lang="{{ this.alt }}">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ config.PROJECT.name }}{% if this.title != config.PROJECT.name %} — {{ this.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ '/static/favicon.svg'|url }}" type="image/svg"/>
  <link rel="stylesheet" href="{{ '/static/main.css'|url }}"/>
</head>
<body>
  <header>
    {% include 'nav-main.html' %}
    {% include 'nav-alternatives.html' %}
  </header>
  <main>
    {% block body %}{% endblock %}
  </main>
  <footer>
    <small>
      &copy; AUTHOR, YEAR
    </small>
  </footer>
</body>
</html>
