<nav aria-label="main navigation">
  <a href="{{ '/'|url(alt=this.alt) }}">
    <img
        src="{{ '/static/logo.svg'|url }}"
        alt="{{ bag('translate', this.alt, 'logo-alt') }}"
        width="80" height="80"/>
  </a>
  <ul>
    {% for slug in bag('menus', 'main-nav') %}
      {% set page = site.get('/' + slug, alt=this.alt) %}
      <li{% if this.is_child_of(page) %} class="active"{% endif%}>
        <a href="{{ page|url }}">{{ page.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
