<nav aria-label="main navigation">
  <a href="${ '/' >> url(alt=this.alt) }">
    <img
        src="${ '/static/logo.svg' >> url }"
        alt="${ bag('translate', this.alt, 'logo-alt') }"
        width="80" height="80"/>
  </a>
  <ul>
    <div tal:repeat="slug bag('menus', 'main-nav')" tal:omit-tag="">
      <li
          tal:define="page site.get('/' + slug, alt=this.alt)"
          tal:attributes="class 'active' if this.is_child_of(page) else None">
        <a href="${ page >> url }" tal:content="page.title">Page title</a>
      </li>
    </div>
  </ul>
</nav>
