*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

body * {
  line-height: calc(1em + 0.5rem);
}

body > * {
  padding: 0.5rem 1em;
}

main {
  flex-grow: 1;
  max-width: 60ch;
  margin: auto;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

td,
th {
  padding: 0.25rem 0.5rem;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, monospace;
}

input,
button,
textarea,
select {
  font: inherit;
}

nav a {
  text-decoration: none;
}

nav ul {
  display: inline-flex;
  gap: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
