*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

ul[role='list'],
ol[role='list'] {
  list-style-type: none;
}

nav ul,
nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
